<div class="container-fluid">
  <div class="row" style="display: flex;">
    <!-- Left Component -->
    <div class="col-md-6 my-sm-3 " #leftColumn style="display: flex; flex-direction: column; flex-grow: 1;">
      <app-leave-balance></app-leave-balance>
    </div>

    <!-- Right Component -->
    <div class="col-md-6 my-sm-3" #rightColumn style="display: flex; flex-direction: column; flex-grow: 1; overflow-y: auto;">
     <h1>right</h1>
    </div>
  </div>

  <div class="row mt-4">
    <!-- Bottom Component -->
    <div class="col-12">
      <app-manage-holidays></app-manage-holidays>
    </div>
  </div>
</div>
