<div class="card shadow-sm mt-2">
    <div class="card-header d-flex justify-content-between align-items-center">
      <strong>{{ title }}</strong>
      <i class="{{ icon }} fs-5 text-primary"></i>
    </div>
    <div class="card-body">
      <table class="table table-hover table-bordered align-middle">
        <thead class="table-light">
          <tr>
            <th *ngFor="let _ of getColumns()">
              <div class="skeleton skeleton-header w-75"></div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let _ of getRows()">
            <td *ngFor="let _ of getColumns()">
              <div class="skeleton skeleton-cell w-100"></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  