<!-- Sidebar (Visible only for Admin and HR) -->
<app-sidebar *ngIf="userRole === 'admin' || userRole === 'hr'"></app-sidebar>

<!-- Main Content Wrapper -->
<div class="wrapper d-flex flex-column min-vh-100" *ngIf="userRole !== 'admin' && userRole !== 'hr'">
  
  <!-- Dynamic Header Based on Role -->
  <ng-container [ngSwitch]="userRole">
    <app-employee-header *ngSwitchCase="'employee'"></app-employee-header>
    <app-accountant-header *ngSwitchCase="'accountant'"></app-accountant-header>
  </ng-container>

  <!-- Main Content -->
  <div class="body flex-grow-1">
    <c-container breakpoint="lg" class="h-auto px-4">
      <router-outlet></router-outlet>
    </c-container>
  </div>
  <!--app footer-->
  <app-default-footer />
</div>
