<!-- Dynamic Alert -->
<div *ngIf="alertMessage" class="alert alert-dismissible fade show position-absolute top-0 end-0 m-3 shadow" 
     [ngClass]="alertType" role="alert">
  <i *ngIf="alertType === 'alert-danger'" class="bi-exclamation-octagon-fill"></i>
  <strong class="mx-2">{{ alertMessage }}</strong>
  <button type="button" class="btn-close" (click)="dismissAlert()" aria-label="Close"></button>
</div>
<body>
<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card rounded-5">
            <div class="row g-0">
              <div class="d-flex justify-content-center align-items-center h-100 col-md-6 col-lg-5 d-none d-md-block">
                <img src="assets/athentification-images/reset-image2.svg" alt="reset form" class="img-fluid" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5">
                  <div class="d-flex justify-content-center mb-5 pb-1">
                    <img src="assets/procan-logo.png" alt="Procan Logo" class="w-75 mh-100" />
                  </div>
                  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                    <!-- New Password Field -->
                    <div class="input-group mb-4">
                      <span class="input-group-text"><i class="bi bi-shield-lock"></i></span>
                      <input 
                        [type]="showPassword ? 'text' : 'password'" 
                        id="password" 
                        formControlName="newPassword" 
                        class="form-control form-control-lg" 
                        placeholder="New Password"
                        [class.is-invalid]="resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched">
                        <span class="input-group-text toggle-icon bg-white border" (click)="togglePasswordVisibility()">
                          <i class="bi" [ngClass]="showPassword ? 'bi-eye' : 'bi-eye-slash'"></i>
                        </span>
                      <div *ngIf="resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched" class="invalid-feedback">
                        <div *ngIf="resetPasswordForm.get('newPassword')?.errors?.['required']">Password is required.</div>
                        <div *ngIf="resetPasswordForm.get('newPassword')?.errors?.['minlength']">Password must be at least 6 characters long.</div>
                        <div *ngIf="resetPasswordForm.get('newPassword')?.errors?.['pattern']">Password must contain at least one letter and one number.</div>
                      </div>
                    </div>
                  
                    <!-- Confirm Password Field -->
                    <div class="input-group mb-4">
                      <span class="input-group-text"><i class="bi bi-shield-check"></i></span>
                      <input 
                      [type]="showConfirmPassword ? 'text' : 'password'" 
                        id="confirmPassword" 
                        formControlName="confirmPassword" 
                        class="form-control form-control-lg" 
                        placeholder="Confirm Password"
                        [class.is-invalid]="resetPasswordForm.get('confirmPassword')?.invalid && resetPasswordForm.get('confirmPassword')?.touched">
                        <span class="input-group-text toggle-icon bg-white border " (click)="toggleConfirmPasswordVisibility()">
                          <i class="bi" [ngClass]="showConfirmPassword ? 'bi-eye' : 'bi-eye-slash'"></i>
                        </span>
                      <div *ngIf="resetPasswordForm.get('confirmPassword')?.invalid && resetPasswordForm.get('confirmPassword')?.touched" class="invalid-feedback">
                        <div *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['required']">Confirmation password is required.</div>
                        <div *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['passwordMismatch']">Passwords do not match.</div>
                      </div>
                    </div>
                  
                    <button type="submit" class="btn button-primary btn-lg btn-block">Submit</button>
                  </form>
                  
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
  