.custom-alert {
  position: fixed;
  top: 20px;
  right: 20px;
  min-width: 300px;
  z-index: 1050;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  opacity: 1;
  transition: ease-in-out;
}
p{
font-family: var(--font-family-secondary);
color: var(--color-text-secondary);
}
.bl{
font-family: var(--font-family-accent);
color: var(--color-text-secondary);
}