<div class="forgot-password">
  <h2 class="text-center mb-3">Reset Your Password</h2>
  <p class="text-center" >Enter your email to receive a password reset link.</p>
<!-- Success Alert -->
  <div *ngIf="message" class="alert alert-success alert-dismissible fade show custom-alert" role="alert">
    <i class="bi-check-circle-fill"></i>
    <strong class="mx-2">{{message}}</strong>
    <button type="button" class="btn-close" (click)="message = ''" aria-label="Close"></button>
  </div>

  <!-- Error Alert -->
  <div *ngIf="error" class="alert alert-danger alert-dismissible fade show custom-alert" role="alert">
    <i class="bi-exclamation-octagon-fill"></i>
    <strong class="mx-2">{{ error}}</strong>
    <button type="button" class="btn-close" (click)="error = ''" aria-label="Close"></button>
  </div>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPasswordSubmit($event)">
    <div class="input-group mb-3">
      <span class="input-group-text"><i class="bi bi-envelope"></i></span>
      <input type="email" id="email" formControlName="email" class="form-control form-control-lg"
        placeholder="Email" aria-label="Email"
        [class.is-invalid]="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched">
      <div *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched" class="invalid-feedback">
        <span *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">Email is required.</span>
        <span *ngIf="forgotPasswordForm.get('email')?.errors?.['email']">Please enter a valid email address.</span>
      </div>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <button type="submit" class="btn button-primary btn-lg px-4" [disabled]="forgotPasswordForm.invalid">Submit</button>
      <button type="button" class="btn btn-link text-muted small px-2 bl" (click)="goBackToLogin()">Back to Login</button>
    </div>
  </form>
</div>
