<app-skeleton-table-card
*ngIf="isLoading"
[title]="'Manage Leave Balances'"
[icon]="'bi-calendar-check'"
[cols]="3"
[rows]="5">
</app-skeleton-table-card>

<!-- Original table when data is ready -->
<div *ngIf="!isLoading" class="card shadow-sm mt-2">
  <div class="card-header d-flex justify-content-between align-items-center ">
    <strong>Manage Leave Balances</strong>
    <i class="bi bi-calendar-check fs-5 text-primary"></i>
  </div>
  <div class="card-body">
    <table class="table table-hover table-bordered align-middle">
      <thead class="table-light">
        <tr>
          <th>
            <i class="bi bi-tags me-1 text-secondary"></i>
            Leave Type
          </th>
          <th>Max</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let leave of leaveBalances; let i = index">
          <td>
            <i [ngClass]="getLeaveIconClass(leave.leave_type)" class="me-1 text-primary"></i>
            {{ leave.leave_type| replaceUnderscoreCapitalize  }}
          </td>
          <td>
            <div class="input-group">
              <input
                type="number"
                class="form-control"
                name="maxDays{{ i }}"
                [(ngModel)]="leave.max_days"
                #maxDays="ngModel"
                required
                min="1"
              />
              <span class="input-group-text rounded-0">
                {{ leave.leave_type === 'maternity_leave' ? 'Months' : 'Days' }}
              </span>
            </div>
            <small *ngIf="maxDays.invalid && maxDays.touched" class="text-danger">
              Value must be at least 1
            </small>
          </td>
          <td>
            <button
              *ngIf="leave.id"
              type="button"
              class="btn btn-sm btn-outline-primary d-flex align-items-center gap-1"
              (click)="updateLeaveBalance(leave)"
              [disabled]="maxDays.invalid"
            >
              <i class="bi bi-arrow-repeat"></i> Update
            </button>
            <button
              *ngIf="!leave.id"
              type="button"
              class="btn btn-sm btn-outline-success d-flex align-items-center gap-1"
              (click)="addLeaveBalance(leave)"
              [disabled]="maxDays.invalid"
            >
              <i class="bi bi-plus-circle"></i> Add
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
