<div class="container">
  <!-- Employee Home Dashboard -->
  <app-user-informations></app-user-informations>
  <app-dashboard-holiday-widget></app-dashboard-holiday-widget>
  <!-- Full Calendar Section -->
  <div class="row mb-5"> <!-- Increased bottom margin for better separation -->
    <div class="col-md-12">
      <!-- Full Calendar -->
      <full-calendar [options]="calendarOptions"></full-calendar>
    </div>
  </div>

  <!-- Leave Status Pie Chart Section -->
  <div class="row mb-4"> <!-- Slightly smaller margin -->
    <div class="col-md-6">
      <!-- Leave Status Pie Chart -->
      <app-status-chart chartType="pie" title="Leave Status (Pie)"></app-status-chart>
    </div>
    <div class="col-md-6">
      <!-- Leave Progress Bar -->
      <app-leave-progress-bar
        [total]="balance.total"
        [used]="balance.used"
        [remaining]="balance.remaining"
      ></app-leave-progress-bar>
    </div>
  </div>



</div>
