<!-- ALERT -->
<div *ngIf="alertMessage" class="alert alert-dismissible fade show position-fixed top-0 end-0 m-3 shadow"
  [ngClass]="alertType" role="alert">
  <i *ngIf="alertType === 'alert-danger'" class="bi-exclamation-octagon-fill"></i>
  <strong class="mx-2">{{ alertMessage }}</strong>
  <button type="button" class="btn-close" (click)="dismissAlert()" aria-label="Close"></button>
</div>

<!-- Main Card -->
<div class="card shadow-sm">
  <!-- Card Header -->
  <div class="card-header d-flex align-items-center justify-content-between">
    <h5 class="card-title my-1">
      <i class="bi bi-calendar-check me-2"></i>Leave Request
    </h5>

    <!-- Three-Dot Menu -->
    <div class="dropdown ms-auto" *ngIf="showMenu && request.status !== 'rejected'">
      <button class="btn btn-light btn-sm rounded-circle shadow-sm transition-all" type="button"
        data-bs-toggle="dropdown">
        <i class="bi bi-three-dots-vertical"></i>
      </button>
      <ul class="dropdown-menu">
        <li *ngIf="request.leave_type === 'sick_leave'">
          <a [href]="request.attachment_path" target="_blank" class="btn dropdown-item">
            <i class="bi bi-eye me-2"></i>See Attachment
          </a>
        </li>
        <li *ngIf="request.status === 'approved'">
          <button class="dropdown-item" (click)="downloadPdf(request.id)">
            <i class="bi bi-download me-2"></i>Download PDF
          </button>
        </li>
        <li *ngIf="request.status === 'on_hold'">
          <button class="dropdown-item" (click)="openUpdateModal(request)">
            <i class="bi bi-pencil me-2"></i>Modify
          </button>
        </li>
        <li *ngIf="request.status === 'on_hold'">
          <button class="dropdown-item text-danger" (click)="openDeleteModal(request.id)">
            <i class="bi bi-trash me-2"></i>Delete
          </button>
        </li>
      </ul>
    </div>
  </div>

  <!-- Card Body -->
  <div class="card-body ">
    <div class="row align-items-center">
      <!-- Leave Details -->
      <div class="col-md-8">
        <p class="d-flex align-items-center">
          <i class="bi bi-calendar-event me-2"></i>
          <strong>Start Date:</strong>&nbsp;{{ formatDateTime(request.start_date) }}
        </p>
        <p class="d-flex align-items-center">
          <i class="bi bi-calendar-event me-2"></i>
          <strong>End Date:</strong>&nbsp;{{ formatDateTime(request.end_date) }}
        </p>
        <p class="d-flex align-items-center">
          <i class="bi bi-chat-left-text me-2"></i>
          <strong>Reason:</strong>&nbsp;
          <span>
            {{ formatLeaveType(request.leave_type) }}
          </span>
        </p>
        <p class="d-flex align-items-center">
          <i class="bi bi-calendar-range me-2"></i>
          <strong>Requested:</strong>&nbsp;
          <span>
            {{ request.leave_days_requested }}
          </span>
        </p>
        <p class="d-flex align-items-center">
          <i class="bi bi-info-circle me-2"></i>
          <strong>Status:</strong>&nbsp;
          <span [ngClass]="{
            'text-success': request.status === 'approved',
            'text-warning': request.status === 'on_hold',
            'text-danger': request.status === 'rejected'
          }">
            <span [ngSwitch]="request.status">
              <span *ngSwitchCase="'approved'">Approved</span>
              <span *ngSwitchCase="'rejected'">Rejected</span>
              <span *ngSwitchCase="'on_hold'">Pending</span>
            </span>
          </span>
        </p>
      </div>

      <!-- Swinging Calendar -->
      <div class="col-md-4 d-flex justify-content-center">
        <div class="calendar text-center">
          <div class="calendar__month">Days</div>
          <div class="calendar__day">
            {{request.effective_leave_days }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Update Leave Modal-->
<div class="modal fade" [id]="'updateLeaveModal-' + request.id" tabindex="-1" aria-labelledby="updateLeaveModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update Leave Request</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="updateForm" (ngSubmit)="updateLeave()">
          <!-- Reason Dropdown -->
          <div class="mb-3">
            <label for="leave_type" class="form-label">Reason</label>
            <select formControlName="leave_type" class="form-select" (change)="onReasonChange()">
               <option value="personal_leave">Personal Leave</option>
              <option value="sick_leave">Sick Leave</option>
              <option value="other">Other</option>
            </select>
          </div>
          <!-- Other Reason Input (Only if "Personal Leave" is selected) -->
          <div class="mb-3" *ngIf="updateForm.value.leave_type === 'other'">
            <label for="other_type" class="form-label">Specify Reason</label>
            <input type="text" formControlName="other_type" class="form-control">
            <small *ngIf="updateForm.controls['other_type'].errors?.['required']" class="text-danger">Please provide a
              reason.</small>
          </div>
          <!-- Attachment (Only if "Sick Leave", "Maternity Leave", or "Paternity Leave" is selected) -->
          <div class="mb-3"
            *ngIf="['sick_leave'].includes(updateForm.value.leave_type)">
            <label for="attachment" class="form-label">Medical Certificate (PDF, JPG, PNG)</label>
            <input type="file" (change)="onFileChange($event)" class="form-control">
            <small *ngIf="attachmentError" class="text-danger">{{ attachmentError }}</small>
          </div>

          <!-- Submit Button -->
          <button type="submit" class="btn button-primary">Update Leave</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal for Delete -->
<div class="modal fade" id="deleteLeaveModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Leave Request</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this leave request?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="deleteLeave(request.id)">Delete</button>
      </div>
    </div>
  </div>
</div>