.leave-progress-container {
    width: 100%;
    .progress-bar {
      display: flex;
      height: 20px;
      background-color: #e5e7eb;
      border-radius: 8px;
      overflow: hidden;
      margin-bottom: 8px;
  
      .used {
        background-color: #f87171;
        height: 100%;
      }
  
      .remaining {
        background-color: #34d399;
        height: 100%;
      }
    }
  
    .progress-labels {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
    }
  }
  